<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chen.cs160finalproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".preziHubActivity" >
        </activity>
        <activity
            android:name=".PresentationInProgress"
            android:label="@string/title_activity_presentation_in_progress"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".EditPresentation"
            android:label="@string/title_activity_edit_presentation"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".StatsActivity"
            android:label="@string/title_activity_stats"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
